{% extends "layout.html" %}
{% block title %}BME680{% endblock %}
{% block content %}
	<div style="display: flex; flex-wrap: wrap; justify-content: space-around;">
		<div id="temperature" style="padding-bottom: 10px;"></div>
		<div id="pressure" style="padding-bottom: 10px;"></div>
	</div>
	<div style="display: flex; flex-wrap: wrap; justify-content: space-around;">
		<div id="humidity" style="padding-bottom: 10px;"></div>
		<div id="airquality" style="padding-bottom: 10px;"></div>
	</div>
    <script>
		var air_data = {{ air_data|tojson }};
    </script>
	<script type="text/javascript" src="{{ url_for('static', filename = 'scripts/bme680.js') }}"></script>
{% endblock %}